#week{
	font-size: 20pt;
	font-family: Georgia;
	color: white;
	stroke: black;
}
h3 {
   	text-align: center;
	font-family: monospace;
	font-size: 15pt;
}
h2 {
	text-align: left;
	stroke: black;
	font-family: monospace;
	color: magenta;
	font-size: 30pt;
}
h1 {
	font-family: monospace;
	font-size: 15pt;
	position: absolute;
}
img {
	float: right;
	padding-right: 50px;
	cursor: crosshair;
  	transform: rotate(3deg);
  	transition: all 0.3s ease-in-out;
}
img:hover {
  cursor: crosshair;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;


