#container{
	width: 500px;
	height: 500px;
	
}
#one{
	background-color: pink;
	left: 500px;
	right: 50px;
	height: 200px;
	width:200px;
	position: relative;
}
#two{
	background-color: red;
	left: 500px;
	right: 500px;
	height: 200px;
	width:200px;
	justify-content: justify-end;
}
#three{
	background-color: green;
	left: 500px;
	right: 500px;
	height: 200px;
	width: 200px;
	align-items: right;
}
#four{
	background-color: blue;
	left: 50px;
	right: 500px;
	height: 200px;
	width:200px;
	justify-content: justify-end;
}

