h1 {
	color: red;
	font-size: 50px;
	margin: 0;
	text-align: center;
}
h2 {
	font-family: "Courier";
	font-size: 30px;
	padding: 0;
	color: red;
	text-align: center;
}
p {

	font-family: "Georgia";
	font-size: 20px;
	text-align: center;
}
a:hover {
	background-color: #91f170;
}
body {
	background-color: pink;
	color: #ff2ce6;
	border: solid 5px black; 
	font-size: 28pt;
}

.address {
	color: red;
	font-family: "Courier";
	font-size: 20pt;
	margin: 100px;
}

.address:hover {
	cursor: hand;
  	transform: rotate(-3deg);
  	transition: all 0.3s ease-in-out;
  	background-color: black;
}

.header-title {
	font-size: 100px;
}

.list {
	columns: 100px 6;
	margin: 100px;
	outline-color: red;
}
.list:hover {
	cursor: hand;
  	transform: rotate(3deg);
  	transition: all 0.3s ease-in-out;
  	background-color: black;
}
