h1 {
	color: red;
	font-size: 50px;
	margin: 0;
	text-align: center;
}
h2 {
	font-family: "Courier";
	font-size: 30px;
	padding: 0;
	color: #38bbeb;
	text-align: center;
}
p {

	font-family: "Georgia";
	font-size: 20px;
}
body {
	background-color: pink;
	color: magenta;
	border: solid 5px black 
}

.address {
	color: #38bbeb;
	font-family: "Courier"
}

.header-title {
	font-size: 100px;
}

img {
	width: 100px; 
}
